.project-name {
  font-family: "Noto Sans Japanese", "メイリオ", 'ヒラギノ角ゴ Pro W3', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Sans Japanese", "メイリオ", 'ヒラギノ角ゴ Pro W3', sans-serif;  
}
